html {
    background: #236784;

}

body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

div {
    padding-top: 20px;
    padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: azure;
    font-weight: 600;
    line-height: 1.5;
}

label {
    color: azure;
    font-size: 18;
    margin: 10;
    display: block;
}

h2 {
    margin-top: 1.3em;
}

h3 {
    color: darkgreen;
}
a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

.boton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.BotonRedondeado{
    border-radius: 15px;
    background-color: aquamarine;
    padding: 20px;
}

.metricInput{
    width: 60;
}
